@model Formularz.Models.Dane

@* <h1>Form</h1>
<form asp-action="Form" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Imie">Twoje imię</label>
        <input asp-for="Imie" />
    </div>
    <div>
        <label asp-for="Email">Twój Email</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Temat">Temat</label>
        <input asp-for="Temat" />
    </div>
    <div>
        <label asp-for="Tresc">Tresc</label>
        <textarea asp-for="Tresc"></textarea>
    </div>
    <div>
        <input type="submit" value="Prześlij" />
    </div>
</form> *@

@using (Html.BeginForm("Form", "Dane", FormMethod.Post))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <p>Twoje Imię: @Html.TextBoxFor(a => a.Imie)</p>
    <p>Twoje Nazwisko: @Html.TextBoxFor(a => a.Nazwisko)</p>
    <p>Twoj Email: @Html.TextBoxFor(a => a.Email)</p>
    <p>Haslo: @Html.PasswordFor(a => a.Haslo)</p>
    <p>Potwierdz Haslo: @Html.PasswordFor(a => a.Haslo)</p>
    <p>Nr telefonu: @Html.TextBoxFor(a => a.NrTelefonu, new { type = "tel" })</p>
    <p>Wiek: @Html.TextBoxFor(a => a.Wiek, new { type = "number", min = "10", max = "80" })</p>
    <p>
        Miasto: @Html.DropDownListFor(a => a.Miasto, Html.GetEnumSelectList<Formularz.Models.Dane.Kategorie>(), "Wybierz kategorię")
    </p>
    <input type="submit" />

}
